# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Chromium

ColumnLimit: 100

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

AlignConsecutiveDeclarations: true
