buildtools
out
tools/gn
tools/gn.exe
third_party/abseil-cpp
third_party/binaryen
third_party/dawn
third_party/emscripten
third_party/getopt
third_party/home-cube
third_party/jinja2
third_party/libjpeg-turbo
third_party/llvm
third_party/markupsafe
third_party/ninja
third_party/opengl-registry
third_party/SPIRV-Headers
third_party/SPIRV-Tools
third_party/Vulkan-Headers
third_party/Vulkan-Tools
